# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Secrets
*.json
!manifest.json
!package.json
gen-lang-client-*.json
credentials.json
client_secret.json
